<link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
<!DOCTYPE html>
<html>
	<head>
		<title>Расписание</title>

	</head>
	<body>
         <style>
            .text1 {
                text-align:  center;
            }
            .text {
                text-align:  left;
            }
          </style>
         <div class="text">
            <h1><div class="text1">Расписание группы БСТ 1801</h1>
             <h2>Верхняя неделя:</h2>
		<table>
			<thead>
				<tr>
					<th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
				</tr>
			</thead>
                <tr>
					<td><b>–</b> 1. </td>
					<td><b>Л</b> 1. Информатика </td>
					<td><b>–</b> 1. </td>
                    <td><b>–</b> 1. </td>
                    <td><b>Л</b> 1. Физика</td>
				</tr>
                <tr>
                    <td><b>–</b> 2. Физ-ра</td>
                    <td><b>П</b> 2. Высш. мат.</td>
                    <td><b>П</b> 2. Англ. язык</td>
                    <td><b>–</b> 2. </td>
                    <td><b>П</b> 2. Физика</td>
                </tr>
                 <tr>
                    <td><b>Л</b> 3. ТЯП</td>
                    <td><b>П</b> 3. Информатика</td>
                    <td><b>П</b> 3. ТЯП</td>
                    <td><b>–</b> 3. </td>
                    <td><b>П</b> 3. ТФКПРиОИ</td>
                </tr>
                <tr>
                    <td><b>Л</b> 4. ТФКПРиОИ</td>
                    <td><b>–</b> 4. </td>
                    <td><b>–</b> 4. Физ-ра</td>
                    <td><b>П</b> 4. Англ. язык</td>
                    <td><b>–</b> 4. </td>
                </tr>
                <tr>
                    <td><b>П</b> 5. ТЯП</td>
                    <td><b>–</b> 5. </td>
                    <td><b>П</b> 5. Философия</td>
                    <td><b>–</b> 5. </td>
                    <td><b>–</b> 5. </td>
                </tr>
		</table>
             <h2>Нижняя неделя:</h2>
		<table>
			<thead>
				<tr>
					<th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
				</tr>
			</thead>
                <tr>
					<td><b>–</b> 1. </td>
					<td><b>Л</b> 1. Высш. мат. </td>
					<td><b>–</b> 1. </td>
                    <td><b>–</b> 1. </td>
                    <td><b>–</b> 1. </td>
				</tr>
                <tr>
                    <td><b>–</b> 2. Физ-ра</td>
                    <td><b>П</b> 2. Высш. мат.</td>
                    <td><b>П</b> 2. Англ. язык</td>
                    <td><b>Л</b> 2. Философия </td>
                    <td><b>П</b> 2. Физика</td>
                </tr>
                 <tr>
                    <td><b>Л</b> 3. ТЯП</td>
                    <td><b>П</b> 3. Информатика</td>
                    <td><b>П</b> 3. ТЯП</td>
                    <td><b>–</b> 3. </td>
                    <td><b>П</b> 3. ТФКПРиОИ</td>
                </tr>
                <tr>
                    <td><b>Л</b> 4. ТФКПРиОИ</td>
                    <td><b>–</b> 4. </td>
                    <td><b>–</b> 4. Физ-ра</td>
                    <td><b>П</b> 4. Англ. язык</td>
                    <td><b>–</b> 4. </td>
                </tr>
                <tr>
                    <td><b>П</b> 5. ТЯП</td>
                    <td><b>–</b> 5. </td>
                    <td><b>П</b> 5. Философия</td>
                    <td><b>–</b> 5. </td>
                    <td><b>–</b> 5. </td>
                </tr>
		</table>
         <div class="text">
         <h5>Л – Лекция</h5>
         <h5>П – Практика</h5>
	</body>
</html>